# 你的game目录，用于支持MCP资产扫描和文本编辑能力
# 例如 D:\\file\\WebGal\\release\\public\\games\\新的游戏\\game
WEBGAL_WORK_DIR=

# 你可以配置多个资产扫描地址（相对路径， 使用空格可以分隔多个）
# 支持的资产类型: background, figure, vocal, bgm, animation, video
WEBGAL_BACKGROUND_DIR=background
WEBGAL_VOCAL_DIR=vocal
WEBGAL_BGM_DIR=bgm
WEBGAL_ANIMATION_DIR=animation
WEBGAL_VIDEO_DIR=video

# figure目录注意：一般仅默认的figure目录即可
# 如果有多个分开的队伍，可如下配置:
# 每个需要被扫描的角色目录内应该尽量保证： 角色名目录/服饰目录/json模型
# 或者 角色名目录/json模型 这种语义化的目录，以便AI识别
# 但是还是尽量仅使用figure，避免长路径消耗大量token

WEBGAL_FIGURE_DIR=figure/MyGO全员 figure/mujica新模型